<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link th:href="@{'/resources/css/bootstrap.min.css'}" rel="stylesheet" />
<title>Cliente</title>
</head>
<body>
	<!-- pagina para gerenciar dados do cliente -->
	<div class="container">
		<h2>Meus dados</h2>
		<form th:object="${CLIENTE_ATUAL}" th:action="@{'/cliente'}"
			method="post">
			<div class="form-group">
				<label>Nome</label> <input type="text" class="form-control"
					th:field="*{nome}" />
			</div>
			<div class="form-group">
				<label>CPF</label> <input type="text" class="form-control"
					th:field="*{cpf}" />
			</div>
			<div class="form-group">
				<label>Telefone</label> <input type="text" class="form-control"
					th:field="*{telefone}" />
			</div>
			<div class="form-group">
				<button type="submit" name="cmd" value="adicionar"
					class="btn btn-primary">Adicionar</button>
				<button type="submit" name="cmd" value="pesquisar"
					class="btn btn-primary">Pesquisar</button>
			</div>

			<div class="form-group">
				<label>Email</label> <input type="text" class="form-control"
					placeholder="name@example.com" th:field="*{email}" />
			</div>
			<div class="form-group">
				<label>Senha</label> <input type="text" class="form-control"
					th:field="*{senha}" />
			</div>

		</form>

	</div>
	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nome</th>
					<th>CPF</th>
					<th>Telefone</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente : ${LISTA_CLIENTE}">
					<td th:text="${cliente.nome}">.</td>
					<td th:text="${cliente.cpf}">.</td>
					<td th:text="${cliente.telefone}">.</td>
					<td th:text="${cliente.email}">.</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>