<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link th:href="@{'/resources/css/bootstrap.min.css'}" rel="stylesheet"/>
<title>Meus Pedidos</title>
</head>
<body>
<div class="container">
	<h2>Compras</h2>
	<table class="table table-striped">
	<thead>
		<tr>
			<th>Produto</th>
			<th>Preço</th>
			<th>Quantidade</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th></th>
		</tr>
	</tbody>
	</table>
	
	<button type="submit" name="cmd" value="finalizarCompras"
						class="btn btn-primary">Finalizar Compras</button>
</div>

</body>
</html>