<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link th:href="@{'/resources/css/bootstrap.min.css'}" rel="stylesheet"/>
<title>Gerenciar produtos</title>
</head>
<body>
<!-- página para gerenciar produtos: adicionar remover editar -->
	
	<div class="container">
	<h2>Gerenciar produtos</h2>
	<form th:object="${PRODUTO_ATUAL}" 
				th:action="@{'/produto'}" method="post">
		<div class="form-group">
			<label>Nome</label>
			<input type="text" class="form-control" th:field="*{nome}"/>
		</div>
		<div class="form-group">
			<label>Marca</label>
			<input type="text" class="form-control" th:field="*{marca}"/>
		</div>
		<div class="form-group">
			<label>Valor</label>
			<input type="number" class="form-control" th:field="*{valor}"/>
		</div>
		<div class="form-group">
			<label>Descrição</label>
			<textarea class="form-control" rows="3" th:field="*{descricao}"></textarea>
		</div>
		<div class="form-group">
			<button type="submit" name="cmd" value="adicionar"
						class="btn btn-primary">Adicionar</button>
			<button type="submit" name="cmd" value="pesquisar"
						class="btn btn-primary">Pesquisar</button>
		</div>
	</form>
	</div>	
	
	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Marca</th>
					<th>Valor</th>
					<th>Descricao</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="produto : ${LISTA_PRODUTO}">
					<td th:text="${produto.nome}">.</td>
					<td th:text="${produto.marca}">.</td>
					<td th:text="${produto.valor}">.</td>
					<td th:text="${produto.descricao}">.</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</body>
</html>